*.bak
.gradle/
.settings/
bin/
build/
config/
eclipse/
mods/
recipes/
resourcepacks/
saves/
stats/
world/

.classpath
.project
ForgeModLoader-client-*.log
ForgeModLoader-client-*.log.lck
ForgeModLoader-server-*.log
ForgeModLoader-server-*.log.lck
banned-ips.txt
banned-players.txt
jenkins.properties
ops.txt
output-client.log
output-client.log.lck
server.log
server.properties
white-list.txt
